@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: whitesmoke;
}
ul{
    list-style: none;
}

main{
    display: grid;
    grid-template-columns: 260px 2fr 1fr;
    grid-template-areas: 
        "header header header"
        "left stories right"
        "left center right"
    ;
}


.header{
    grid-area: header;
    background: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 15px;
    align-items: center;
}
.header div img{
    margin-bottom: -15px;
    margin-right: 10px;
}

.menu{
    display: flex;
}
.menu li{
    padding: 0;
    margin: 0;
    align-items: center;
}
.menu li a{
    color: black;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 0 10px 0 10px;
    border-radius: 6px;
    text-align: center;
}
.menu li a:hover{
    background: rgba(0, 0, 0, 0.11);
    
}
.menu li a:hover .legenda{
    display: block;
    position: fixed;
    
}

.legenda{
    display: none;
    background: rgba(0, 0, 0, 0.74);
    color: white;
    border-radius: 5px;
    font-size: 9pt;
    position: absolute;
    padding: 6px;
    margin: 10px auto;
}


.notificacoes{
    margin-right: 30px;
}
.notificacoes li{
    margin: 0 5px 0 5px;

}
.notificacoes li a{
    width: 100%;
    color: black;
    padding: 10px;
    text-decoration: none;
    margin: 0 2px 0 2px;
    border-radius: 10px;
}
.notificacoes li a:hover{
    background-color: white;
}
.notificacoes li a:hover .legendas{
    display: block;
}




.plus_icon{
    position: absolute;
    margin-left: 0px;
    margin-top: -6px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
}
.plus_icon:hover{
    background-color: rgba(0, 0, 0, .1);
}
.plus_icon::before{
    content: '';
    position: absolute;
    margin-left: -6px;
    margin-top: 15px;
    width: 15px;
    height: 1px;
    background-color: currentColor;
}
.plus_icon::after{
    content: '';
    position: absolute;
    margin-left: -6px;
    margin-top: 15px;
    width: 15px;
    height: 1px;

    width: 15px;
    height: 1px;
    background-color: currentColor;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}






#search{
    padding: 10px;
    border-radius: 20px;
    border: 1px solid rgba(77, 77, 80, 0.603);
    background-color: rgba(77, 77, 80, 0.123);
}
#search::after{
    border: none;
}



.left{
    grid-area: left;
    margin: 90px 30px 0px 0px;
    position: fixed;
    display: block;
    width: 260px;
    height: 575px;
    overflow-y: auto;
}

/* scroll bar*/
.left::-webkit-scrollbar{
    width: 10px;
    background: whitesmoke;
}
.left::-webkit-scrollbar-thumb{
    background: rgb(167, 167, 167);
    border-radius: 5px;
}

.right::-webkit-scrollbar-thumb{
    background: rgb(167, 167, 167);
    border-radius: 5px;
}
.right::-webkit-scrollbar{
    width: 10px;
    background: whitesmoke;
}
/*---*/
.options{
    height: 350px;
}
.options ul{
    list-style: none;
}
.options .submenu{
    margin-top: 5px;
    margin-left: -10px;
}
.options li{
    margin-left: 10px;
    border-radius: 10px;
}
.options a{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.options a div{
    padding: 10px;
}
.options li:hover{
    background-color: rgba(0, 0, 0, .2);
}
.options div{
    color: black;
}
.options .img{
    width: 30px;
    height: 20px;
    margin-bottom: 5px;
}
.options .img img{
    width: 100%;
    border-radius: 50px;
}

#ver_mais_hidden{
    display: none;
}
#vermais{
    cursor: pointer;
}



.titulo{
    margin: 10px 0 10px 10px;   
}
.titulo span{
    color: rgb(77, 77, 80);
}
.seus_atalhos{
    margin-top: 20px;
    margin-left: 10px;
    border-top: 1px solid rgba(0, 0, 0, .2);
    display: block;
}
.seus_atalhos ul{
    list-style: none;
}
.seus_atalhos li{
    border-radius: 10px;
}
.seus_atalhos a{
    display: flex;
    text-decoration: none;
}
.seus_atalhos a div{
    padding: 10px;
}
.seus_atalhos li:hover{
    background-color: rgba(0, 0, 0, .2);
}
.seus_atalhos div{
    color: black;
}

.stories{
    grid-area: stories;
    width: 90%;
    padding: 10px;
    margin: 90px auto 0 auto;
    display: flex;
    justify-content: center;
}
.stories div{
    width: 130px;
    height: 190px;
    margin: 10px;

    border-radius: 10px;
    background-color: rgb(167, 167, 167);
}
.stories img{
    width: 100%;
    
}


.center{
    grid-area: center;
    margin: 30px auto;
    width: 70%;
}
.new_post{
    grid-area: new_post;
    padding: 20px;
    margin: 5px auto;
    border-radius: 10px;
    background-color: white;
}
.live{
    grid-area: live;
    padding: 30px;
    margin: 20px auto 5px auto;
    background-color: white;
    border-radius: 10px;
}


.middle{
    display: block;
    grid-area: middle;
    margin: 20px auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}


.right{
    margin: 90px 0px 0px 30px;
    grid-area: right;
    position: fixed;
    right: 0px;
    height: 600px;
    overflow-y: auto;
}

.anuncios a{
    text-decoration: none;
    color: black;
}
.anuncios div{
    margin: 10px;
    padding: 5px 0 5px 0;
    display: flex;
    align-items: center;
}
.anuncios img{
    width: 120px;
    border-radius: 7px;
}

.contatos .titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contatos .icones{
    display: flex;
    margin: 5px;
}
.contatos .icones div{
    margin: 5px;
}
.contatos ul{
    list-style: none;
}
.contatos li{
    margin-left: 10px;
    border-radius: 10px;
}
.contatos a{
    display: flex;
    text-decoration: none;
}
.contatos a div{
    padding: 10px;
}
.contatos li:hover{
    background-color: rgba(0, 0, 0, .2);
}
.contatos div{
    color: black;
}



/*media*/
@media (max-width: 1116px) {
    main{
        display: grid;
        grid-template-columns:  2fr 260px;
        grid-template-areas: 
            "header header"
            "stories right"
            "center right"
        ;
    }
    .left{
        display: none;
    }
    
    
    
    
}
@media (max-width: 900px){
    main{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-areas: 
            " header"
            " stories"
            " center"
        ;
    }
    .right{
        display: none;
    }
}
@media (max-width: 820px){
 
    
}
@media (max-width: 630px){
    .stories div{
        width: 90%;
        height: 110px;
    }
}